{% if book.imageUrl|length > 0 %}
    {% set image = book.imageUrl %}
{% else %}
    {% set image = asset('/assets/img/image_placeholder.webp') %}
{% endif %}

{# vertical card #}
<div class="card col-xl-3 d-none d-xl-flex">
    <img src="{{ image }}" width="100%" class="card-img-top" alt="{{ book.title }}">
    <div class="card-body">
        <h5 class="card-title">{{ book.title }}</h5>
        <p class="card-text">{{ book.catchphrase }}</p>
    </div>
    <div class="card-body">
        <a href="{{ path('books_one', { id: book.id}) }}" class="card-link">En savoir plus</a>
    </div>
</div>

{# horizontal card #}
<div class="card col-5 d-flex d-xl-none">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{{ image }}" width="100%" class="img-fluid rounded-start" alt="{{ book.title }}">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ book.title }}</h5>
                <p class="card-text">{{ book.catchphrase }}</p>
            </div>
            <div class="card-body">
                <a href="{{ path('books_one', { id: book.id}) }}" class="card-link">En savoir plus</a>
            </div>
        </div>
    </div>
</div>

