{% extends 'base.html.twig' %}

{% block title %}Détails livre {{ book.title }}{% endblock %}

{% if book.imageUrl|length > 0 %}
    {% set image = book.imageUrl %}
{% else %}
    {% set image = asset('/assets/img/image_placeholder.webp') %}
{% endif %}

{% block body %}
    <section id="book-details" class="container pad-v">
        <div class="row">
            <div class="col-xl-6">
                <img src="{{ image }}" width="100%" alt="{{ book.title }}">
            </div>
            <div class="col-xl-6">
                {% if isAvailable %}
                    <span class="badge text-bg-success">
                        Disponible
                    </span>
                {% else %}
                    <span class="badge text-bg-danger">
                        Non Disponible
                    </span>
                {% endif %}
                <h1 class="page-title">{{ book.title }}</h1>
                <p>{{ book.catchphrase }}</p>
                {% if book.comments|length > 0 %}
                    <span class="book-rating">
                        {% set rating = 0 %}
                        {% for comment in book.comments %}
                            {% set rating = rating + comment.rating %}
                        {% endfor %}
                        {% set averageRating = rating / (book.comments|length) %}
                        <i class="bi bi-star-fill">
                            <em>
                                {{ averageRating }}
                            </em>
                        </i>
                    </span>
                {% endif %}
                <div class="associated-authors">
                    Auteurs :
                    {% for author in book.authors %}
                        <a href="{{ path('authors_one', { id: author.id }) }}">{{ author.name }} {{ author.firstname }}</a>
                        {% if author != book.authors|last %}
                        , 
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="book-infos">
            <ul class="nav nav-tabs book-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-target="summary">Résumé</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-target="comments">Commentaires</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-target="add-comment">Ajouter un commentaire</a>
                </li>
            </ul>
            <div class="book-tab-content">
                <div id="summary">
                    <p>
                        {% if book.summary|length > 0 %}
                            {{ book.summary }}
                        {% else %}
                            Aucun résumé à afficher
                        {% endif %}
                    </p>
                </div>
                <div id="comments" style="display: none;">
                    <h2>Commentaires</h2>
                    {% for comment in book.comments %}
                        <div class="card">
                            <div class="card-header">
                                <h3>{{ comment.user.username }}</h3>
                                <i class="bi bi-star-fill"><em>{{ comment.rating }}</em></i>
                            </div>
                            <div class="card-body">
                                <span class="card-title">Publié le {{ comment.publicationDate|date('d-m-Y') }}</span>
                                <p class="card-text">{{ comment.comment }}</p>
                            </div>
                        </div>
                    {% endfor %}

                    {% if book.comments|length < 1 %}
                        <p class="col-xl-3">Aucun commentaire trouvé</p>
                    {% endif %}
                </div>
                <div id="add-comment" style="display:none">
                    <h2>Ajouter un commentaire</h2>
                    {{ form_start(form, { attr: { class: 'row' } }) }}
                        <div class="form-group col-12">
                            {{ form_label(form.rating, 'Note', { attr: { 'class': 'form-label' } }) }}
                            {{ form_widget(form.rating, { attr: { 'class': 'form-control visually-hidden' } }) }}
                            <div id="star-rating">
                                <i class="bi bi-star" data-value="1"></i>
                                <i class="bi bi-star" data-value="2"></i>
                                <i class="bi bi-star" data-value="3"></i>
                                <i class="bi bi-star" data-value="4"></i>
                                <i class="bi bi-star" data-value="5"></i>
                            </div>
                        </div>
                        <div class="form-group col-12">
                            {{ form_label(form.comment, 'Commentaire', { attr: { 'class': 'form-label' } }) }}
                            {{ form_widget(form.comment, { attr: { 'class': 'form-control' } }) }}
                        </div>
                        <button type="submit" class="btn btn-primary">Ajouter le commentaire</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}