{% extends 'base.html.twig' %}

{% block title %}liste des livres{% endblock %}

{% block body %}
    <section id="banner" class="books-banner">
        <h1 class="page-title">Liste des livres</h1>
    </section>

    <section id="search-books-form" class="pad-v df-center">
        {{ form_start(form, { attr: { class: 'row' } }) }}
            <div class="form-group col-12 col-xl-6">
                {{ form_label(form.title, 'Titre', { attr: { 'class': 'form-label' } }) }}
                {{ form_widget(form.title, { attr: { 'class': 'form-control' } }) }}
            </div>
            <div class="form-group col-12 col-xl-6">
                {{ form_label(form.publicationDate, 'Date de publication', { attr: { 'class': 'form-label' } }) }}
                {{ form_widget(form.publicationDate, { attr: { 'class': 'form-control' } }) }}
            </div>
            <div class="form-group col-12 col-xl-6">
                {{ form_label(form.category, 'Catégorie', { attr: { 'class': 'form-label' } }) }}
                {{ form_widget(form.category, { attr: { 'class': 'select2-multiple form-control' } }) }}
            </div>
            <div class="form-group col-12 col-xl-6">
                {{ form_label(form.authors, 'Auteurs', { attr: { 'class': 'form-label' } }) }}
                {{ form_widget(form.authors, { attr: { 'class': 'select2-multiple form-control' } }) }}
            </div>
            <button type="submit" class="btn btn-primary">Valider</button>
        {{ form_end(form) }}
    </section>

    <section id="books" class="container pad-v">
        <div class="row">
            {% for book in books %}
                {% include 'includes/singlebook.html.twig' with {book: book} %}
            {% endfor %}
            
            {% if books|length % 3 >= 1 %}
                {% for i in 0..(books|length % 3) %}
                    <div class="col-xl-3 d-none d-xl-flex"></div>
                {% endfor %}
            {% endif %}

            {% if books|length % 2 == 1 %}
                <div class="col-5 d-flex d-xl-none"></div>
            {% endif %}

            {% if books|length < 1 %}
                <p class="col-xl-3">Aucun livre trouvé</p>
            {% endif %}
        </div>
    </section>
{% endblock %}