<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <style>
            body {
                margin: 0;
                padding: 0;
                background-color: #f3f3f3;
                font-family: Helvetica, Arial, sans-serif;
            }
            h1 {
                background-color: #264459;
                color: #ffffff;
                padding: 30px 0 50px 0;
                font-weight: normal;
            }
            .container {
                background-color: #fefefe;
                width: 580px;
                margin: 0 auto;
            }
            .block {
                margin: 0;
                padding: 10px 20px 20px 20px;
            }
            .text-center {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div class="body">
            <div class="container">
                <div class="content">
                    <h1 class="text-center">Vous avez reçu un message</h1>
                    <ul>
                        <li>Date d'envoi : {{ date|date('d-m-Y') }}</li>
                        <li>Utilisateur : {{ username }}</li>
                        <li>Email : {{ form['email'] }}</li>
                        <li>Sujet : {{ form['subject'] }}</li>
                    </ul>
                    <p class="block">
                        Message : {{ form['message'] }}
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>