{% extends 'base.html.twig' %}

{% block body %}
    <section id="book-form" class="container pad-v">
        <h1>{{ title }}</h1>
        <div class="add-button">
            <a type="button" href="{{ path('admin_books') }}" class="btn btn-secondary">Retour à la liste</a>
        </div>
        <div>
            {{ form_start(form, { attr: { class: 'row' } }) }}
                <div class="form-group col-12">
                    {{ form_label(form.title, 'Titre', { attr: { 'class': 'form-label' } }) }}
                    {{ form_widget(form.title, { attr: { 'class': 'form-control' } }) }}
                </div>
                <div class="form-group col-12">
                    {{ form_label(form.catchphrase, 'Phrase d\'accroche', { attr: { 'class': 'form-label' } }) }}
                    {{ form_widget(form.catchphrase, { attr: { 'class': 'form-control', 'maxlength': '150' } }) }}
                </div>
                <div class="form-group col-6">
                    {{ form_label(form.category, 'Catégorie', { attr: { 'class': 'form-label' } }) }}
                    {{ form_widget(form.category, { attr: { 'class': 'select2-multiple form-control' } }) }}
                </div>
                <div class="form-group col-6">
                    {{ form_label(form.authors, 'Auteurs', { attr: { 'class': 'form-label' } }) }}
                    {{ form_widget(form.authors, { attr: { 'class': 'select2-multiple form-control' } }) }}
                </div>
                <div class="form-group col-12">
                    {{ form_label(form.summary, 'Résumé', { attr: { 'class': 'form-label' } }) }}
                    {{ form_widget(form.summary, { attr: { 'class': 'form-control', 'maxlength': '500' } }) }}
                </div>
                <button type="submit" class="btn btn-primary">Valider</button>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}