{% extends 'base.html.twig' %}

{% block body %}
    <section id="admin-books" class="container pad-v">
        <h1>Gestion des livres</h1>
        <div class="top-actions">
            <a type="button" href="{{ path('admin_home') }}" class="btn btn-secondary"><i class="bi bi-chevron-left"></i> Retour à l'accueil</a>
            <a type="button" href="{{ path('admin_book_add') }}" class="btn btn-secondary"><i class="bi bi-plus"></i> Ajouter</a>
        </div>
        <div class="row">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Date de publication</th>
                        <th>Titre</th>
                        <th>Catégorie</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in books %}
                    <tr>
                        <td>{{ book.publicationDate|date("d-m-Y") }}</td>
                        <td>{{ book.title }}</td>
                        <td>{{ book.category.name }}</td>
                        <td class="row">
                            <a class="col-6" href="{{ path('admin_book_edit', {id: book.id}) }}">
                                <button class="btn btn-secondary">
                                    <i class="bi bi-pen"></i>
                                </button>
                            </a>
                            <form class="col-6" method="POST" action="{{ path('admin_book_delete', {id: book.id}) }}"
                                    onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce livre?')">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ book.id) }}">
                                <button class="btn btn-danger">
                                    <i class="bi bi-trash-fill"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}